<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<title>Add Pustakawan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<div class="row">
            	<div class="col-md-8">
                	<div class="card">
                    	<div class="card-header">
                        	Tambah Pustakawan
                    	</div>
                    	<div class="card-body">
                            <form th:action="@{/pustakawan/tambah}" th:object="${pustakawan}" method="POST">
	                        	<input type="hidden" name="id" th:field="*{id}"/>
	                        	<div class="form-group">
							    	<label for="nama">Nama</label>
							    	<input type="text" class="form-control" name="nama" id="nama" th:value="${nama}?${nama}">
							  	</div>
	                        	<div class="form-group">
							    	<label for="tempatLahir">Tempat Lahir</label>
							    	<input type="text" class="form-control" name="tempatLahir" id="tempatLahir" th:value="${tempatLahir}?${tempatLahir}">
							  	</div>
							  	<div class="form-group">
							    	<label for="tanggalLahir">Tanggal Lahir</label>
							    	<input type="text" class="form-control"name="tanggalLahir" id="tanggalLahir" th:value="${tanggalLahir}?${tanggalLahir}" placeholder="yyyy-mm-dd">
							  	</div>
							  	<div class="form-group">
							    	<label for="jenisKelamin">Jenis Kelamin</label>
							    	<div class="form-check form-check-inline">
		                            	<input class="form-check-input" type="radio" name="jenisKelamin" id="jk_lk" value="1" th:field="*{jenisKelamin}" th:checked="${jenisKelamin}==1?${jenisKelamin}">
	  									<label class="form-check-label" for="jk_lk">Laki-laki</label>
	  								</div>
	  								<div class="form-check form-check-inline">
		  								<input class="form-check-input" type="radio" name="jenisKelamin" id="jk_pr" value="2" th:field="*{jenisKelamin}" th:checked="${jenisKelamin}==2?${jenisKelamin}">
		  								<label class="form-check-label" for="jk_pr">Perempuan</label>
		  							</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="spesialisasi">Spesialisasi</label>
								    <div class="form-row">
		                            	<div class="form-group col-md-10">
				                            <select class="form-control" id= "spesialisasi" name="spesialisasi" th:field="${spesialisasi}">
				                            	<option value="0">-Pilih Spesialisasi-</option>
												<option th:each="spesialisasi : ${spesialisasi}"
													th:value="${spesialisasi.id}" 
													th:text="${spesialisasi.nama}">
												</option>
											</select>
										</div>
										<div class="form-group col-md-2">
											<button type="submit" class="btn btn-info" name="tambah">Tambah</button>	
										</div>	
	  								</div>
							  	</div><br><br>
	                            <button type="submit" class="btn btn-primary" name="simpan">Simpan</button>
	                        </form>
                    	</div>
                	</div>
            	</div>
        	</div>
		</div>
	</body>
</html>